<%- include("template/head", {title: 'index'}) %>

    <div class="container" style="margin-top: 80px !important;">
      <div class="row">
        <a href="/add" class="btn btn-success w-auto">Agregar Publicacion</a>
        <!-- Main content -->
            <div class="col-lg-12 mb-3">
              <!-- End of post 1 -->
              <% if (posts.length) { %>
                
                <% posts.forEach(post => { %>
                  <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                    <div class="row align-items-center">
                      <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                          <a href="/detail/<%= post.id %>/<%= post.title %>/<%= post.content %>/<%= encodeURIComponent(post.image) %>/<%= post.createdAt.getDate() %>/<%= post.createdAt.getMonth() %>/<%= post.createdAt.getFullYear() %>" class="text-primary"><%= post.title %></a>
                        </h5>
                        <p class="text-sm"><span class="op-6">Subido el </span> <a class="text-black" href="#"><%= post.createdAt.getDate() %>/<%= post.createdAt.getMonth() %>/<%= post.createdAt.getFullYear() %></a> <span class="op-6">por </span> <a class="text-black" href="#">Anonymus</a></p>
                        <p class="text-sm"><span class="op-6">Actualizado el </span> <a class="text-black" href="#"><%= post.updatedAt.getDate() %>/<%= post.updatedAt.getMonth() %>/<%= post.updatedAt.getFullYear() %></a> <span class="op-6">por </span> <a class="text-black" href="#">Anonymus</a></p>
                        <!-- <div class="text-sm op-5"> <a class="text-black mr-2" href="#">#C++</a> <a class="text-black mr-2" href="#">#AppStrap Theme</a> <a class="text-black mr-2" href="#">#Wordpress</a> </div> -->
                      </div>
                      <!-- Para futuras extensiones -->
                      <!-- <div class="col-md-4 op-7">
                        <div class="row text-center op-7">
                          <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">141 Votes</span> </div>
                          <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">122 Replys</span> </div>
                          <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm">290 Views</span> </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                <% }) %>
              <% } %>
            </div>
            <!-- Sidebar content -->
          </div>
        </div>
        <%- include("template/footer") %>
  