<%- include("template/head", {title: 'index'}) %>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if(arrayMascotas.length > 0) { %>
                    <% arrayMascotas.forEach(mascota => { %>
                        <tr>
                            <th><%= mascota.id %></th>
                            <td><%= mascota.nombre %></td>
                            <td><%= mascota.descripcion %></td>
                            <td>@mdo</td>
                        </tr>
                        
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
    
<!-- 13:40 -->
<%- include("template/footer") %>